django==3.2.4
django-ckeditor==6.1.0
requests==6.1.0
twilio==6.60.0
pycryptodome==3.10.1
paywix==1.4.0
pillow==8.2.0
django social-auth-app-django==4.0.0
djangorestframework==3.12.4
django-cors-headers==3.7.0
