body{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}
/* main container */
.cont{
    max-height: 100vh;
    display: flex;
}
/* left section */
.banner{
    width: 38%;
    height: 100vh;
    background-color: #004953;
    padding-left: 8%;
    display: inline-block;
}
.banner-text{
    font-size: 300%;
    color: white;
}
/* hiding left section for mobile view */
@media screen and (max-width: 600px) {
    .banner{
        visibility: hidden;
        width: 0%;
    }
}
/* right section */
.main{
    display: grid;
    place-items: center;
    width: 62%;
}
/* inner grid */
.main-content{
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
    background-color: #FCE7E7;
    z-index: 1%;
    box-shadow: 2px black;
}
.form{
    padding: 0 8%;
}
/* upper line */
hr{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

hr.colored{
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(0,73,83,1) 45%, rgba(119,119,119,1) 55%);
}

hr:before{
    width: 45%;
    left: 0;
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    height: 2.5px;
}
/* email address */
.sign{
    font-weight: 200;
    text-align: center;
    font-size: 200%;
    word-spacing: 20px;
}
.signup{
    font-weight: bold;
    color: #004953;
}
.login{
    color: #777777;
    font-size: 60%;
    font-weight: 80;
}
/* signup and login */
.bar{
    font-weight: 500;
    font-size: 150%;
}
.form{
    padding-top: 7%;
}
/* input where email and password will be typed */
.input{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    border-color: white;
    border-width: 0px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #C2BDBD;
}
.forgot-pass{
    color: #1E83F9;
    padding-bottom: 8%;
}
/* login button */
button{
    width: 95%;
    height: 45px;
    background-color: #15707C;
    border-radius: 5px;
    border: 0px;
}
.login-but{
    font-weight: 400;
    font-size: 170%;
    color: white;   
}
/* text below login button */
.bot-text{
    text-align: center;
    color: #696969;
}
.sign-up{
    color: #004953;
    font-weight: bold;
}
/* icons */
.google{
    background-color: white;
    padding: 1%;
    border-color: blue;
    border: 1px;
    margin-left: 33%;
    margin-right: 2%;
}
.facebook{
    background-color: white;
    padding: 1%;
    border-color: blue;
    border: 1px;
    margin-right: 2%;
}
.linkedin{
    background-color: white;
    padding: 1%;
    border-color: blue;
    border: 1px;
}
.icons{
    margin-bottom: 4%;
}
