<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name='viewport' content='width=device-width, initial-scale=1'>-->
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <link rel="stylesheet" href="{%static 'general/css/style.css'%}" >
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <title>{% block title%} {% endblock %}</title>
    {% block head%} {% endblock %}
</head>
<body>
<!--<body oncontextmenu='return false' class='snippet-body'>-->
    <!--main page-->
    <section id="header">
        <div class="header">
            <!--top-bar-->
            <div class="top-bar">
                <div class="top-bar-item">
                    <div class="icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="icon-content">
                        <h6>Free Delivery (Over 1000 INR*)</h6>
                    </div>
                </div>

                <div class="top-bar-item">
                    <div class="icon">
                        <i class="fas fa-reply"></i>
                    </div>
                    <div class="icon-content">
                        <h6>Easy Returns</h6>
                    </div>
                </div>

                <div class="top-bar-item">
                    <div class="icon">
                        <i class="fas fa-coins"></i>
                    </div>
                    <div class="icon-content">
                        <h6>Best Deals</h6>
                    </div>
                </div>
            </div>
            <!--end-of-topbar-->



        </div>
    </section>

    <!--end of header-->

    <!--navbar-->
    <section id="navbar">
        <nav class="navbar header">
            <div class="container-fluid">
                <a id="logo-img" href="../../"><img class="logo" src="{%static 'general/Images/logo.png'%}" alt="REDOPACT" style="height:50px"></a>
                <div class="d-sm-none d-md-block ms-auto d-none d-sm-block">
                    <form action="../listing/" method="get" class="d-flex ms-auto bar1">
                        <input id="inpt_srch" class="form-control" name="search" type="search" placeholder="Search"
                            aria-label="Search">
                        <button id="srch" class="btn btn-outline-success" type="submit" style="padding-left: 6px"><svg
                                class="srch_btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </form>
                </div>
                {%if request.user.is_authenticated %}
                    <ul class="flex-container ms-auto" style="list-style-type: none">
                    <li class="pad_nav">
                        <a href="../../account/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg><br>Account</a>
                    </li>
                    <li class="pad_nav">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-heart" viewBox="0 0 16 16">
                                <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg><br>Wishlist</a>
                    </li>
                    <li class="pad_nav">
                        <a href="../../cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg></span><br>Cart
                        </a>
                    </li>
                </ul>
                {%else%}
                    <ul class="flex-container ms-auto" style="list-style-type: none">
                        <li class="pad_nav">
                            <a href="../login/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person" viewBox="0 0 16 16">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg><br>Login/Register</a>
                        </li>
                        <li class="pad_nav">
                            <a href="../../contactus ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg><br>contact us</a>
                        </li>
                    </ul>
                {%endif%}
                <div class="d-none d-sm-block d-md-none ms-auto me-auto" style="margin-bottom: 10px;">
                    <form action="../listing/" method="get" class="d-flex ms-auto">
                        <input id="inptsm_srch" class="form-control" name="search" type="search" placeholder="Search"
                            aria-label="Search">
                        <button id="srch" class="btn btn-outline-success" type="submit"><svg class="srch_btn"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </form>
                </div>
                <div class="d-block d-sm-none ms-auto me-auto" style="margin-bottom: 10px;">
                    <form action="../listing/" method="get" class="d-flex ms-auto">
                        <input id="inptxs_srch" class="form-control" name="search" type="search" placeholder="Search"
                            aria-label="Search">
                        <button id="srch" class="btn btn-outline-success" type="submit"><svg class="srch_btn"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </form>
                </div>
            </div>
            </div>
        </nav>


        <!-- 1st part -->

        <nav class="navbar nav2 d-none d-sm-block">
            <div class="container-fluid margin-bottom: 0">
                <ul class="ms-auto me-auto mb-2 mb-lg-0 mb-md-0 mb-sm-0 navi"
                    style="list-style-type: none; padding-left: 0px">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#">SALE</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Fashion & Accessories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Opt1</a></li>
                            <li><a class="dropdown-item" href="#">Opt2</a></li>
                            <li><a class="dropdown-item" href="#">Opt3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Home & Kitchen
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Opt1</a></li>
                            <li><a class="dropdown-item" href="#">Opt2</a></li>
                            <li><a class="dropdown-item" href="#">Opt3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Kids, Toys & Babies
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Opt1</a></li>
                            <li><a class="dropdown-item" href="#">Opt2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Events
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Opt1</a></li>
                            <li><a class="dropdown-item" href="#">Opt2</a></li>
                            <li><a class="dropdown-item" href="#">Opt3</a></li>
                        </ul>
                    </li>
                    <!-- dummy work start -->
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dummy
                        </a>
                        <ul class="dropdown-menu multi-level" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Opt1</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Opt2</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Opt1</a></li>
                                    <li><a class="dropdown-item" href="#">Opt2</a></li>
                                    <li><a class="dropdown-item" href="#">Opt3</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Opt3</a></li>
                        </ul>
                    </li>
                    <!-- dummy work end -->
                    <li class="nav-item active">
                        <a class="nav-link" href="#">More</a>
                    </li>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Contact Us
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Opt1</a></li>
                            <li><a class="dropdown-item" href="#">Opt2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Opt3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 2nd part -->
        <nav class="navbar nav3 navbar-dark d-block d-sm-none">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">REDOPACT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">SALE</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fashion & Accessories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Opt1</a></li>
                                <li><a class="dropdown-item" href="#">Opt2</a></li>
                                <li><a class="dropdown-item" href="#">Opt3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Home & Kitchen
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Opt1</a></li>
                                <li><a class="dropdown-item" href="#">Opt2</a></li>
                                <li><a class="dropdown-item" href="#">Opt3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Kids, Toys & Babies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Opt1</a></li>
                                <li><a class="dropdown-item" href="#">Opt2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Events
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Opt1</a></li>
                                <li><a class="dropdown-item" href="#">Opt2</a></li>
                                <li><a class="dropdown-item" href="#">Opt3</a></li>
                            </ul>
                        </li>
                        <!-- dummy work start -->
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dummy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Opt1</a></li>
                                <li><a class="dropdown-item" href="#">Opt2</a></li>
                                <ul class="dropdown-submenu" aria-labelledby="navbarDropdown"
                                    style="list-style-type:none;">
                                    <li><a class="dropdown-item" href="#">Opt1</a></li>
                                    <li><a class="dropdown-item" href="#">Opt2</a></li>
                                    <li><a class="dropdown-item" href="#">Opt3</a></li>
                                </ul>
                                <li><a class="dropdown-item" href="#">Opt3</a></li>
                            </ul>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">More</a>
                        </li>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Contact Us
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Opt1</a></li>
                                <li><a class="dropdown-item" href="#">Opt2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Opt3</a></li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!--end of navbar-->
    {% block body%} {% endblock %}
<!--footer-->
    <section id="footer">
        <div class="footer container">
<!--            <div class="footer-items">-->
<!--                <div class="footer-item">-->
<!--                    <div class="shop">-->
<!--                        <h4>Shop</h4>-->

<!--                        <ul>-->
<!--                            <a href="../../listing/">-->
<!--                                <li>Fashion</li>-->
<!--                            </a>-->
<!--                            <a href="../../listing/">-->
<!--                                <li>Accessories</li>-->
<!--                            </a>-->
<!--                            <a href="../../listing/">-->
<!--                                <li>Home & Kitchen</li>-->
<!--                            </a>-->
<!--                            <a href="../../listing/">-->
<!--                                <li>Event And Festival Shop</li>-->
<!--                            </a>-->
<!--                        </ul>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
            <div class="footer-item">
                <div class="Information">
                    <h4>Information</h4>

                    <ul>
                        <a href="../../aboutus/">
                            <li>About Us</li>
                        </a>
                        <a href="../../privacypolicy/">
                            <li>Privacy and Cookie Policy</li>
                        </a>
                        <a href="../../privacypolicy/">
                            <li>Shiping and Returns</li>
                        </a>
                        <a href="../../termsandcondition/">
                            <li>Terms of Use</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="Quick-links">
                    <h4>Let us help you</h4>

                    <ul>
                        <a href="../../account/">
                            <li>My Account</li>
                        </a>
                        <a>
                            <li>Shopping Cart</li>
                        </a>
                        <a href="../../register/">
                            <li>Customer Registration</li>
                        </a>
                        <a href="../../login/">
                            <li>Login</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="support">
                    <h4>Support</h4>

                    <ul>
                        <a href="../../vendorregister/">
                            <li>Sell With Us</li>
                        </a>
                        <a>
                            <li>Customer Help & FAQs</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="contact">
                    <h4>Contact Us</h4>

                    <ul>
                        <a>
                            <li>info@redopact.com</li>
                        </a>
                        <l1>
                            <h6>(General Queries)</h6>
                        </l1>
                        <a>
                            <li>sales@redopact.com</li>
                        </a>
                        <l1>
                            <h6>(Seller Queries)</h6>
                        </l1>
                        <a>
                            <li>support@redopact.com</li>
                        </a>
                        <l1>
                            <h6>(Technical Queries)</h6>
                        </l1>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <h4>Copyright © 2021 Redopact, Inc. All rights reserved.</h4>
        </div>
        </div>
    </section>

    <!--footer for mobile-->

    <section id="footer-mobile">
        <div class="footer">
            <div class="footer-items">
                <div class="dropdown">
<!--                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"-->
<!--                        data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Shop-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
<!--                        <li><button class="dropdown-item" type="button">Action</button></li>-->
<!--                        <li><button class="dropdown-item" type="button">Another action</button></li>-->
<!--                        <li><button class="dropdown-item" type="button">Something else here</button></li>-->
<!--                    </ul>-->
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Information
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button"><a href="../../aboutus/">About Us</a></button></li>
                        <li><button class="dropdown-item" type="button"><a href="../../privacypolicy/">Privacy and Cookie Policy</a></button></li>
                        <li><button class="dropdown-item" type="button"><a href="../../privacypolicy/">Shiping and Returns</a></button></li>
                    </ul>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Let Us help You
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button"><a href="../../account/">My Account</a></button></li>
                        <li><button class="dropdown-item" type="button"><a>Shopping Cart</a></button></li>
                        <li><button class="dropdown-item" type="button"><a href="../../register/">Customer Registration</a></button></li>
                        <li><button class="dropdown-item" type="button"><a href="../../login/">Login</a></button></li>
                    </ul>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Support
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button"><a href="../../vendorregister/">Sell With Us</a></button></li>
                        <li><button class="dropdown-item" type="button"><a>Customer Help & FAQs</a></button></li>
                    </ul>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Contact
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="copyright">
            <h4>Copyright © 2021 Redopact, Inc. All rights reserved.</h4>
        </div>

    </section>
    <!--end-of-footer-->
    <!--end of main page-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
