{% extends 'general/base.html' %}
{%load static%}
{% block title%}ContactUs-Elpizo{% endblock %}

{% block body%}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Contact</li>
                </ol>
              </nav>
            </div>
<!--            <div class="col-lg-3">-->
<!--              &lt;!&ndash;-->
<!--              *** PAGES MENU ***-->
<!--              _________________________________________________________-->
<!--              &ndash;&gt;-->
<!--              <div class="card sidebar-menu mb-4">-->
<!--                <div class="card-header">-->
<!--                  <h3 class="h4 card-title">Pages</h3>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                  <ul class="nav nav-pills flex-column">-->
<!--                    <li><a href="text.html" class="nav-link">Text page</a></li>-->
<!--                    <li><a href="contact.html" class="nav-link">Contact page</a></li>-->
<!--                    <li><a href="faq.html" class="nav-link">FAQ</a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; *** PAGES MENU END ***&ndash;&gt;-->
<!--              <div class="banner"><a href="#"><img src="{%static 'shop/img/banner.jpg'%}" alt="sales 2014" class="img-fluid"></a></div>-->
<!--            </div>-->
            <div class="col-lg-12">
              <div id="contact" class="box">
                <h1>Contact</h1>
                <p class="lead">Are you curious about something? Do you have suggestion for you product and services,feel free to share with us</p>
                <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i>Address</h3>
                    <p><strong>ND03 3rd floor</strong><br>IITD zanskar<br>New Delhi<br><strong>India</strong></p>
                  </div>
                  <!-- /.col-sm-4-->
                  <div class="col-md-4">
                    <h3><i class="fa fa-phone"></i> Call center</h3>
                    <p class="text-muted">This number is available only for whatsapp querry but we advise you to use the mail as form of communication.</p>
                    <p><strong>+916264843506</strong></p>
                    <a href="mailto:elpizocustomercare@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>elpizocustomercare@gmail.com</a><br>
                    whatsapp:<a href="https://wa.me/message/4SRBZLZIUSAKD1"><i class="fa fa-whatsapp" aria-hidden="true"></i>clickhere</a>
                  </div>
                  <!-- /.col-sm-4-->
                  <div class="col-md-4">
                    <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                    <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                    <ul>
                      <li><strong><a href="mailto:elpizocustomercare@gmail.com">elpizocustomercare@gmail.com</a></strong></li>
<!--                      <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>-->
                    </ul>
                  </div>
                  <!-- /.col-sm-4-->
                </div>
                <!-- /.row-->
                <hr>
<!--                <div id="map"></div>-->
                <hr>
                <h2>Contact form</h2>
                <form method="post">
                  {%csrf_token%}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">Name</label>
                        <input id="firstname" type="text" name="name" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="subject">Subject</label>
                        <input id="subject" type="text" name="subject" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>
                    </div>
                  </div>
                  <!-- /.row-->
                </form>
              </div>
            </div>
            <!-- /.col-md-9-->
            
          </div>
        </div>
      </div>
    </div>

{%endblock%}
{% block js%}
    <script src="{%static 'shop/https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js'%}"> </script>
    <script src="{%static 'shop/js/map.js'%}"></script>
{% endblock %}