
<br> <br> <br>

<div class="container-fluid px-5 pb-3" style="background-color: #FAFBFC;">

    <div class="row pb-5">

        <div class="col-sm-3">
            <h4 class="text-primary mt-5 pt-2">Explore</h4> <br>
            <a href="" style="font-size:15px;">Redopact for Business</a> <br>
            <a href="" style="font-size:15px;">Custom Gift Boxes</a> <br>
            <a href="" style="font-size:15px;">Bulk</a> <br>
            <a href="" style="font-size:15px;">Custom Branding</a> <br>
            <a href="" style="font-size:15px;">Deals</a> <br>
            <a href="" style="font-size:15px;">Clearance</a>
        </div>

        <div class="col-sm-3">
            <h4 class="text-primary mt-5 pt-2">Get Involved</h4> <br>
            <a href="" style="font-size:15px;">Become a Supplier</a> <br>
            <a href="" style="font-size:15px;">Job Opportunities</a> <br>
            <a href="" style="font-size:15px;">Affilate</a> <br>
            <a href="" style="font-size:15px;">In the Press</a> <br>
            <a href="" style="font-size:15px;">Redopact Rewards</a> <br>
        </div>

 

        <div class="col-sm-3">
            <h4 class="text-primary mt-5 pt-2">Support</h4> <br>
            <a href="" style="font-size:15px;">My Account</a> <br>
            <a href="" style="font-size:15px;">FAQs</a> <br>
            <a href="" style="font-size:15px;">Shipping & Returns</a> <br>
            <a href="" style="font-size:15px;">Privacy Policy</a> <br>
            <a href="" style="font-size:15px;">Terms & Conditions</a> <br>
            <a href="" style="font-size:15px;">Contact Us</a>
        </div>

         <div class="col-sm-3">
            <h4 class="text-primary mt-5 pt-2">About Us</h4> <br>
            <a href="" style="font-size:15px;">Impact</a> <br>
            <a href="" style="font-size:15px;">Our Story</a> <br>
            <a href="" style="font-size:15px;">Meet The Team</a> <br>
            <a href="" style="font-size:15px;">Sustainability Logos</a> <br>
            <a href="" style="font-size:15px;">Our Footprint</a> <br>
            <a href="" style="font-size:15px;">Blog</a>
            <a href="" style="font-size:15px;">Land Acknowledgement</a>
        </div>

    </div>

    <div class="text-center pt-3 border-top">
        <span style="font-size: 13px;">&copyCopyright 2022 All Right Reserve</span> <br>
       <div class="mt-2">
        <a href="" class="px-2" style="font-size:20px;"><i class="fa-brands fa-facebook"></i></a>
        <a href="" class="px-2" style="font-size:20px;"><i class="fa-brands fa-twitter"></i></a>
        <a href="" class="px-2" style="font-size:20px;"><i class="fa-brands fa-linkedin"></i></a>
        <a href="" class="px-2" style="font-size:20px;"><i class="fa-brands fa-instagram"></i></a>
       </div>
    </div>
       
</div>