<div class="modal fade" id="terms" tabindex="-1" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="termsLabel">Terms and Conditions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p style="font-size: 13px;">
            Welcome to Redopact!
            These terms and conditions outline the rules and regulations for the use of redopact's Website, located at www.redopact.com.
            By accessing this website we assume you accept these terms and conditions. Do not continue to use redopact if you do not agree to take all of the terms and conditions stated on this page.
            The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to the same.
           </p>
<br>
           <h3>Cookies</h3>
           <p style="font-size: 13px;">
            We employ the use of cookies. By accessing redopact, you agreed to use cookies in agreement with the redopact's Privacy Policy.
            Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
           </p>
<br>
            <h3>License</h3>
            <p style="font-size: 13px;">Unless otherwise stated, redopact and/or its licensors own the intellectual property rights for all material on redopact. All intellectual property rights are reserved. You may access this from redopact for your own personal use subject to restrictions set in these terms and conditions.</p>
            <p style="font-size: 13px;">You must not:</p>
            <ul>
                <li style="font-size: 13px;">Republish material from redopact</li>
                <li style="font-size: 13px;">Sell, rent or sub-license material from redopact</li>
                <li style="font-size: 13px;">Reproduce, duplicate or copy material from redopact</li>
                <li style="font-size: 13px;">Redistribute content from redopact</li>
            </ul>
            <p style="font-size: 13px;">
                Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. redopact does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of redopact,its agents and/or affiliates. Comments reflect the views and opinions of the person who posts their views and opinions. To the extent permitted by applicable laws, redopact shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
redopact reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.
You warrant and represent that:
            </p>
            <ul>
                <li style="font-size: 13px;">You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                <li style="font-size: 13px;">The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                <li style="font-size: 13px;">The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                <li style="font-size: 13px;">The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
            </ul>
            <p style="font-size: 13px;">You hereby grant redopact a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
<br>
            <h3>Hyperlinking to our Content</h3>
            <p style="font-size: 13px;">The following organizations may link to our Website without prior written approval:</p>
            <ul>
                <li style="font-size: 13px;">Government agencies;</li>
                <li style="font-size: 13px;">Search engines;</li>
                <li style="font-size: 13px;">News organizations;</li>
                <li style="font-size: 13px;">Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                <li style="font-size: 13px;">System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Website.
                    These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.
                    </li>
            </ul>
            <p style="font-size: 13px;">We may consider and approve other link requests from the following types of organizations:</p>
           <ul>
            <li style="font-size: 13px;">commonly-known consumer and/or business information sources;</li>
            <li style="font-size: 13px;">dot.com community sites;</li>
            <li style="font-size: 13px;">associations or other groups representing charities;</li>
            <li style="font-size: 13px;">online directory distributors;</li>
            <li style="font-size: 13px;">internet portals;</li>
            <li style="font-size: 13px;">accounting, law and consulting firms; and</li>
            <li style="font-size: 13px;">educational institutions and trade associations.</li>
           </ul>
           <p style="font-size: 13px;">We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of redopact; and (d) the link is in the context of general resource information.</p>
           <p style="font-size: 13px;">These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.
            If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an email to redopact. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
            </p>
            <p style="font-size: 13px;">Approved organizations may hyperlink to our Website as follows:</p>
            <ul>
                <li style="font-size: 13px;">By use of our corporate name; or</li>
            <li style="font-size: 13px;">By use of the uniform resource locator being linked to; or</li>
            <li style="font-size: 13px;">By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.
                No use of redopact's logo or other artwork will be allowed for linking absent a trademark license agreement.
                </li>
            </ul>

            <br>
            <h3>iFrames</h3>
            <p style="font-size: 13px;">
                Without prior approval and written permission, you may not create frames around our Web Pages that alter in any way the visual presentation or appearance of our Website.
            </p>
            <br>
            <h3>Content Liability</h3>
            <p style="font-size: 13px;">
                We shall not be held responsible for any content that appears on your Website. You agree to protect and defend us against all claims that are rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
            </p>
            <br>
            <h3>Your Privacy</h3>
            <p style="font-size: 13px;">
                Please read Privacy Policy
            </p>

            <br>
            <h3>Reservation of Rights</h3>
            <p style="font-size: 13px;">
                We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amend these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.
            </p>
            <br>
            <h3>Removal of links from our website</h3>
            <p style="font-size: 13px;">
                If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.
We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.
            </p>
            <br>
            <h3>Disclaimer</h3>
            <p style="font-size: 13px;">
                To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:
            </p>
            <ul>
                <li style="font-size: 13px;">limit or exclude our or your liability for death or personal injury;</li>
                <li style="font-size: 13px;">limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                <li style="font-size: 13px;">limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                <li style="font-size: 13px;">exclude any of our or your liabilities that may not be excluded under applicable law.</li>
            </ul>

            <p style="font-size: 13px;">
                The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
<br>
Any legal notice against Redopact Pvt Ltd can only be proceeded under Faridabad jurisdiction. Any case filed outside Faridabad Court would be considered null & void.
            </p>

            <h3>CANCELLATIONS, RETURNS, REFUNDS, AND RECALLS</h3><br>
            <h5>Cancellations</h5>
            <p style="font-size: 13px;">
                
In the event, the Consumer who has placed an order to purchase a certain product(s) through the platform. The consumer is further ineligible to apply for cancellation once order is being confirmed on the platform.
</p>

<h5>Returns</h5>
            <p style="font-size: 13px;">
                Clothing & Footwear are eligible to receive a return service from the consumer only if the product is not worn down, washed or used in any manner. The product should be intact, must be in original condition with respective bills/tags/labels, etc. The query should be raised within 48 hours of receiving the product by the consumer through e-mail or platform.   <br>      

                For all other General product(s), Return service can only be availed by the consumer when the product turns out to be faulty/defective/the product turns out to be completely different than the one ordered. <br>
               Incase of handmade product(s), they can’t be returned since product(s) appearance virtually on the platform and the ones received may vary slightly per product. Only exceptional case is when a different product is received than the one ordered by the consumer.     
               In case of a second time return, buyer has to mail on (support@redopact.com) and case will be discussed over the mail and a second return will be made based on the severity of the case.
               </p>

               <h5>Refunds</h5>
            <p style="font-size: 13px;">
                Clothing & Footwear are eligible to receive a Refund service from the consumer only if the product is not worn down, washed or used in any manner. The product should be intact, must be in original condition with respective bills/tags/labels, etc. <br>
                Redopact shall be responsible for all cash and non-cash refunds. Redopact determines whether a Consumer is due for a refund via credit card, debit card or other form of original payment and accordingly Redopact shall provide the refund to the buyer via the original payment method opted by the buyer (e.g., credit or debit card), if possible; provided that Redopact will have no liability for refunds in excess of the purchase price. The Query should be raised within 48 hours of receiving the product by the consumer through e-mail or platform (support@redopact.com) 
                    
            </p>
        </div>
      </div>
    </div>
</div>
  