<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Stationary
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">paper and pen</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">Plantable Stationary</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn "> Stands and pouches</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">Stationary kits</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">notebooks</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">packaging</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">Office</button></div>
                        </ul>


<div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">yoga mat</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">massage ball</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">sipper</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">duffel bag</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">hand towel</button></div>
                            <div class="btn-group" style="width: 250px; "><button type="button" style="color: #fff; background-color: #3b4753; border-color: #414d5a;" class="btn ">cap</button></div>


