<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item-class dropstart"><a class="dropdown-item" href="#">Bags and pouches</a>
                            <ul class="dropdown-submenu  aria-labelledby="navbarDropdown"
                                style="list-style-type:none;">
                                <li ><a class="dropdown-item" href="#">bagpack</button></div>
                                <li><a class="dropdown-item" href="#">handbags</button></div>
                                <li><a class="dropdown-item" href="#">fanny bags</button></div>
                                <li><a class="dropdown-item" href="#">sling bags</button></div>
                                <li><a class="dropdown-item" href="#">duffle bags</button></div>
                                <li><a class="dropdown-item" href="#">laptop bags</button></div>
                            </ul></li>
                            <div class="btn-group"><button type="button" class="btn btn-danger">Wallets and clutches</a>
                            <ul class="dropdown-submenu  aria-labelledby="navbarDropdown"
                                style="list-style-type:none;">
                                <li ><a class="dropdown-item" href="#">pouches</button></div>
                                <li><a class="dropdown-item" href="#">card holders</button></div>
                                <li><a class="dropdown-item" href="#">wallets</button></div>
                            </ul></li>
                            <div class="btn-group"><button type="button" class="btn btn-danger">Baskets</button></div>
                            <div class="btn-group"><button type="button" class="btn btn-danger">Mobile COvers</button></div>
                            <div class="btn-group"><button type="button" class="btn btn-danger">facemask</button></div>
                            <div class="btn-group"><button type="button" class="btn btn-danger">goggles</button></div>
                            <div class="btn-group"><button type="button" class="btn btn-danger">Stoles and scarves</button></div>
                            <div class="btn-group"><button type="button" class="btn btn-danger">Tie and belts</button></div>
                        </ul>