{% extends 'general/base.html' %}
{% block title%}MyTemplate-Elpizo{% endblock %}

{% block body%}
  {% if msg %}
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{msg}}!</strong>
      </div>
    {% endif %}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">MY Template</li>
                </ol>
              </nav>
            </div>

            <div class="col-lg-12">
              <div class="box">
                <h1>Edit Template</h1>
                <p class="lead">Change your Template data from here.</p>

                 <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                  <div class="row">
                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <h4>Logo</h4><input type="file" name="logo" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.logo}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>

                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <label><h4>Corousel1</h4></label>
                        <input type="file" name="corousel1" value="{{vendor.corousel1}}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.corousel1}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>

                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <label><h4>Corousel2</h4></label>
                        <input type="file" name="corousel2"  style="  content: 'Select some files';">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.corousel2}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>

                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <label><h4>Corousel3</h4></label>
                        <input type="file" name="corousel3" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.corousel3}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>

                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <label><h4>Corousel4</h4></label>
                        <input type="file" name="corousel4" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.corousel4}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>

                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <label><h4>Corousel5</h4></label>
                        <input type="file" name="corousel5" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.corousel5}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>

                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <label><h4>Corousel6</h4></label>
                        <input type="file" name="corousel6" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.corousel6}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>

                    <div class="col-md-6">
                      <hr>
                      <div class="form-group">
                        <label><h4>Corousel7</h4></label>
                        <input type="file" name="corousel7" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="/media/{{vendor.corousel7}}" alt="{{vendor.shop_name}}" height="100px" >
                    </div>



                    </div>
                  <div class="col-md-12 text-center">
                      <br>
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
                  </div>
                 </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{%endblock%}








