{% extends 'general/base.html' %}
{%load static%}
{% block title%}Account-Elpizo{% endblock %}

{% block body%}
  {% if msg %}
      <div class="alert" style="background-color: red;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{msg}}!</strong>
      </div>
    {% endif %}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">My account</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** CUSTOMER MENU ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">Customer section</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="../cart-detail" class="nav-link"><i class="fa fa-list"></i> My orders</a>
<!--                    <a href="customer-wishlist.html" class="nav-link"><i class="fa fa-heart"></i> My wishlist</a>-->
                    <a href="../account" class="nav-link active" ><i class="fa fa-user"></i> My account</a>
                    <a href="../logout" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>My account</h1>
                <p class="lead">Change your personal details or your password here.</p>
                <h3>Change password</h3>
                <form method="post" action="../changepassword/">
                {%csrf_token%}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password_old">Old password</label>
                        <input id="password_old" type="password" name="password" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password_1">New password</label>
                        <input id="password_1" type="password" name="new_password" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password_2">Retype new password</label>
                        <input id="password_2" type="password" name="confirm_password" class="form-control">
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save new password</button>
                  </div>
                </form>
                <h3 class="mt-5">Personal details</h3>
                <form method="post">
                {%csrf_token%}
                
<!--                  <div class="row">-->
<!--                  {%for field in account_form%}-->
<!--                    <div class="col-md-6">-->
<!--                      <div class="form-group">-->
<!--                        <label for="firstname">{{field.label_tag}}</label>-->
<!--                        <div class="form-control">{{field}}</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  {%endfor%}-->
<!--                  </div>-->

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="name">Name</label>
                      <input id="name" type="text" name="name" placeholder="{{name}}" value="{{name}}" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input id="email" type="text" name="email" placeholder="{{email}}"  value="{{email}}" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="name">Contact Number</label>
                      <input id="name" type="text" name="contact_number" placeholder="{{contact_number}}" value="{{contact_number}}" class="form-control" >
                    </div>

                    </div>

                  </div>
<!--                  {%for field in account_form %}-->
<!--        {% for error in field.errors %}-->
<!--            {{error}}-->
<!--        {%endfor%}-->
<!--    {%endfor%}-->

<!--    {%if account_form.non_field_errors %}-->
<!--        {{account_form.non_field_errors}}-->
<!--    {%endif%}-->
                    <p class="text-muted">Enter Password to proceed.</p>

                    <div class="form-group">
                      <label for="password">Password*</label>
                      <input id="password" type="password" name="password" class="form-control" required/>
                    </div>
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{%endblock%}