<html>
    <head>
        <title>Standard Checkout</title>
    </head>
    <body>
        <center>
            <h1>Please do not refresh this page...</h1>
            {{response.body.txnToken}}
        </center>
            <form method="post" action="https://securegw-stage.paytm.in/theia/api/v1/showPaymentPage?mid=vgADHx05412495283112&orderId={{orderId}}" name="paytm">
            
            <table border="1">
                <tbody>
                    <input type="hidden" name="mid" value="vgADHx05412495283112">
                    <input type="hidden" name="orderId" value={{orderId}}>
                    <input type="hidden" name="txnToken" value={{response.body.txnToken}}>
                </tbody>
            </table>
            <script type="text/javascript">
                document.paytm.submit();
            </script>
        </form>
    </body>
</html>

