<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- adding css -->
    <link rel="stylesheet" href="css/signup.css">
    <!-- adding font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <title>redo pack</title>
</head>

<body>
    <div class="cont">
        <!-- left-portion -->
        <div class="banner">
            <p class="banner-text">Get started for</p>
            <p class="banner-text">ABSOLUTELY FREE</p>
            <img src="images/LOGO.png" alt="">
        </div>
        <!-- right-portion -->
        <div class="main">
            <div class="main-content">
                <div class="form">
                    <hr class="colored">
                    <p class="sign"><span class="signup"> Sign-up</span> <span class="bar">|</span> <span class="login">Login</span></p>
                    <form action="post" class="form">
                        <label for="email">Email Address</label><br>
                        <input class="input" type="text" id="email" value="Enter Email Address"><br>
                        <label for="password">Password</label><br>
                        <input class="input" type="password" id="password" name="Enter Password"><br>
                        <label for="contact">Contact Number</label><br>
                        <input type="text" class="input" id="contact" value="Enter contact number"><br>
                    </form>
                    <!-- register-button -->
                    <button><span class="login-but">Register</span></button>
                    <p class="bot-text">Already have account <span class="sign-up">Login here</span></p>
                    <p class="bot-text">or continue with</p>
                    <div class="icons">
                        <!-- google-icon -->
                        <img src="icons/google.png" class="google" alt="sign up with google">
                        <!-- facebook-icon -->
                        <img src="icons/facebook.png" class="facebook" alt="">
                        <!-- linkedin-icon -->
                        <img src="icons/linkedin.png" class="linkedin" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>