{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset | Redopact</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.css'%}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"/>
    




<div class="container-fluid login">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 text-center p-5 login-left">
            <h4 class="text-primary">we Missed you !!</h4> 
            <h1 class="text-primary display-5" style="font-weight: bolder;"><b>LOGIN BACK</b></h1>

           <div class="logo">
            <img width="90%" class="img-fluid" src="{% static 'general/images/Signin.png'%}" alt="">
           </div>
        </div>
        <!-- style="background-color: #FBE7E7;" -->
        <div class="col-sm-12 col-md-12 col-lg-6 login-right p-5" >
            <a href="/login/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg></a>
                   <div class="mt-5 pt-5">
                       <h2 class=""><b>Forgot Password?</b></h2>
                       <small>
                        Enter the email address you used when you joined and we’ll send you instructions to reset your password. <br> <br>

                        For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.
                        
                        
                        
                       </small>
                    </div>  


                    <div class="login-form mt-5">
                        {% if messages %}

                        {% for message in messages %}

                        <span class="container-fluid text-dark text-center py-3 alert alert-success">
                            {{message}}
                        </span>

                        <br> <br>

                        {%endfor%}

                        {%endif%}
                    <form method="POST"> {% csrf_token %}
                        <div class="form-group">
                            {% if email %}

                       

                        <span class="text-danger">
                            {{email}}
                        </span>

                        <br>
                       

                        {%endif%}
                            <label for="exampleInputEmail1" class="form-label text-dark mt-2">
                                <span style="color: black;">Email address</span>
                            </label>
                            <input style="border: 2px solid #1A4953;" value="{{email_v}}" name="email" type="email" class="form-control bg-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                    
                        <br> <br>

                        <div class="text-center d-grid">
                            <button class="btn bg-primary text-white py-3" style="border-radius: 4px;">Send Reset Instructions</button>
                        </div>

                        

                        
                    </form> 





                   
        </div>
    </div>


</div>



</body>
</html>

