{% extends 'general/base.html' %}
{%load static%}
{% block title%}redopack{% endblock %}
{% block head%}
    <link rel="stylesheet" href="{%static 'shop/css/style.css'%}" />
    <link rel="stylesheet" href="{%static 'shop/css/mycart.css'%}">
    <link rel="stylesheet" href="{%static 'shop/css/myorder.css'%}">
    <link rel="stylesheet" href="{%static 'shop/css/styles_navbar_Responsive.css'%}">

{% endblock %}

{% block body%}
    <h5 style="color: teal; font-weight: 700; margin: 30px; margin-bottom: 10px; ">Home > My Account > My Order</h5>
    <section id="bottom"  style="display: flex;">
        <div class="bottom-left" style="flex-basis: 20%;">
            <div class="filters" style="margin: 1px 5px; padding: 1px 5px;  display: flex; ">
                <h2 style="font-weight: 900;">Filters</h2>
            </div>
            <div class="order-status left-boxes">
                <h4 class="title">Order Status :</h4>
                <div class="checkboxes order-status-checkbox">
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">On the way</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">Delivered</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">Cancelled</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">Returned</label></span>
                </div>
            </div>
            <div class="order-type left-boxes">
                <h4 class="title">Order Type :</h4>
                <div class="checkboxes order-status-checkbox">
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">Recycled</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">Decomposable</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">xxxxxxxxxxx</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">xxxxxxxxxxx</label></span>
                </div>
            </div>
        </div>
        <div class="bottom-right">
           {%if order.order_list%}
            <div class="my-orders" style="margin: 1px 5px; padding: 1px 5px;  display: flex; justify-content: space-between; ">
                <h2 style="font-weight: 900;">Recent Orders</h2>
                <h2 class="filter-display-btn " style="font-weight: 700;">Filters</h2>
            </div>
           {% for i in order.order_list %}
            <div class="added-products">
                <div class="product-added">
                    <div class="img-container">
                        <div class="image">
                            <a href="../{{i.slug}}">  <img src="../media/{{i.image}}"> </a>
                        </div>
                    </div>
                    <div class="product-description">
                        <a href="../{{i.slug}}"> <h3 class="product-name">{{i.name}}</h3></a>
                        <h5 class="color">Color: {{i.color}}</h5>
                        <h5 class="size">Size: {{i.size}}</h5>
<!--                        <h5 class="seller">Seller: {{i.vendor.shop_name}}</h5>-->
                    </div>
                    <div class="p-price">
                        <h3> &#8377 {{i.mrp}} </h3>
                    </div>
                    <div class="delivery-status">
                        <div class="circle">
                            
                        </div>
                        <div class="delivery">
                            <h3 class="Delivery-txt">{{i.status}}</h3>
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}
           {%endif%}
            <hr>
           {%if order.order_list%}
            <div class="my-orders" style="margin: 1px 5px; padding: 1px 5px;  display: flex; justify-content: space-between; ">
                <h2 style="font-weight: 900;">Previous Orders</h2>
            </div>
           {% for i in order.previous_order %}
            <div class="added-products">
                <div class="product-added">
                    <div class="img-container">
                        <div class="image">
                            <img src="../media/{{i.image}}">
                        </div>
                    </div>
                    <div class="product-description">
                        <h3 class="product-name">{{i.name}}</h3>
                        <h5 class="color">Color: {{i.color}}</h5>
                        <h5 class="size">Size: {{i.size}}</h5>
<!--                        <h5 class="seller">Seller: {{i.vendor.shop_name}}</h5>-->
                    </div>
                    <div class="p-price">
                        <h3> &#8377 {{i.mrp}} </h3>
                    </div>
                    <div class="delivery-status">
                        <div class="circle">

                        </div>
                        <div class="delivery">
                            <h3 class="Delivery-txt">{{i.status}}</h3>
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}
           {%endif%}
            <br>
            <br>
        </div>
    </section>
{% endblock %}