{% extends 'general/base.html' %}
{%load static%}
{% block title%}redopack{% endblock %}
{% block head%}
    <link rel="stylesheet" href="{%static 'shop/css/style.css'%}" />
    <link rel="stylesheet" href="{%static 'shop/css/product-search.css'%}">
    <link rel="stylesheet" href="{%static 'shop/css/styles_navbar_Responsive.css'%}">
   
{% endblock %}
   
{% block body%}
    <section id="top">
        <div class="top-left">
            <h3>Showing results for : <span class="product-item-name">"Shoes"</span></h3>
            <h5><span class="product-number"> 55 </span> search results found for the keyword <span id="keyword">
                    "shoes"</span> </h5>
        </div>
        <div class="top-right">
            <h2>Sort by nearest match:
                <span>
                    <select name="sort" id="sort-list" onchange="location = finalurl();" style="margin:5px; padding: 5px;">
                        <option value="" id="placeholder" disabled selected hidden>Sort</option>
                        <option id="price" value="special_price" style="margin: 5px;">Price: Low To High</option>
                        <option id="-price" value="-special_price" style="margin: 5px;">Price: High To Low</option>
                        <option id="product_name" value="name" style="margin: 5px;">Product Name</option>
                        <option id="-date_added" value="-pub_date" style="margin: 5px;">What's New</option>
                    </select>
                </span>
            </h2>
        </div>
    </section>

     <!--filter and sort-->
     <div class="fi-and-so">
        <button class=" buy-btn btn filter-box-btn" id="filterBtn">FILTER</button>
        
     </div>
     

    <!----------------------------------------------------------------------------------------------------------------------------------------------------------->

    <section id="bottom" style="display: flex;">
        <div class="col-lg-2 col-md-2 bottom-left" style="flex-basis: 20%;">
            <div class="refined-searches" style="margin: 5px; padding: 5px; color: teal; font-weight: 800; display: flex; ">
                <h2 style="font-weight: 600;">REFINED SEARCHES</h2>
                <h3 class="XBtn" style="display: none;  margin-left: 60px;">X</h3>
            </div>
            <div class="price left-boxes">
                <h4 class="title">Price :</h4>
                <div class="middle">
                    <div class="multi-range-slider" style="width: 100%;">
                        <input type="range" id="input-left" min="0" max="100" value="25">
                        <input type="range" id="input-right" min="0" max="100" value="75">

                        <div class="slider">
                            <div class="track"></div>
                            <div class="range"></div>
                            <div class="thumb left"></div>
                            <div class="thumb right"></div>
                        </div>
                    </div>
                </div>
                <div class="price-indicator">
                    <h4 style="font-weight: 100; font-size: 1rem; text-align: center;">Rs <span
                            class="min-price">600</span> - Rs <span class="max-price"> 1000</span></h4>
                </div>
            </div>
            <div class="size left-boxes">
                <h4 class="title">Size :</h4>
                <div class="checkboxes size-checkbox">
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">5</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">6</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">7</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">8</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">9</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check">10</label></span>
                </div>
            </div>
            <div class="product-type left-boxes">
                <h4 class="title">Product Type :</h4>
                <div class="checkboxes" style="display: flex; flex-direction: column;">
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Sneakers <span class="no-of-sneakers"> (12)</span></label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Sneakers <span class="no-of-sneakers"> (12)</span></label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Sneakers <span class="no-of-sneakers"> (12)</span></label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Sneakers <span class="no-of-sneakers"> (12)</span></label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Sneakers <span class="no-of-sneakers"> (12)</span></label></span>
                </div>
            </div>
            <div class="materials-used left-boxes">
                <h4 class="title">Materials Used :</h4>
                <div class="checkboxes" style="display: flex; flex-direction: column;">
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Recycled Polyester</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Organic Cotton</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Plant Based Resin</label></span>
                </div>
            </div>
            <div class="brand left-boxes">
                <h4 class="title">Brand</h4>
                <div class="checkboxes brand-checkbox" style="display: flex; flex-direction: column;">
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Rackled Shoes</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">SAOLA</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Kyrgis</label></span>
                </div>
            </div>
            <div class="gender left-boxes">
                <h4 class="title">Gender :</h4>
                <div class="checkboxes" style="display: flex; flex-direction: column;">
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Man</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Woman</label></span>
                    <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                            style="margin-left: 5px;">Unisex</label></span>
                </div>
            </div>
            <div class="top-right-left-boxes left-boxes"  >
                <h2 style="color: #fff; font-size: 1.2rem; padding: 5px;">Sort by nearest match:
                    <select name="sort" id="sort-list" onchange="location = finalurl();" style="margin:5px; padding: 5px;">
                        <option value="" id="placeholder" disabled selected hidden>Sort</option>
                        <option id="price" value="special_price" style="margin: 5px;">Price: Low To High</option>
                        <option id="-price" value="-special_price" style="margin: 5px;">Price: High To Low</option>
                        <option id="product_name" value="name" style="margin: 5px;">Product Name</option>
                        <option id="-date_added" value="-pub_date" style="margin: 5px;">What's New</option>
                    </select>
                </h2>
            </div>
        </div>
        
        <div class="col-lg-7 col-md-6 bottom-right" id="productList" style="flex-basis: 80%;">
            {% for i in product %}
            <div class="product text-center">
                <a href="../{{i.slug}}!">
                <img class="img-fluid product-img " src="../media/{{i.image}}">
                <h5 class="p-name">{{i.name}}</h5>
                {%if i.mrp == i.special_price%}
                <h4 class="p-price">&#8377 {{i.mrp}}</h4>
                {%else%}
                <h4 class="p-price"><del>&#8377 {{i.mrp}}</del> &#8377 {{i.special_price}}</h4>
                {%endif%}
                <div class="buttons" style="display: flex;">
                    <a href="../{{i.slug}}!/"><button class="buy-btn"><i class="fas fa-shopping-cart"></i></button></a>
                    <button class="buy-btn"><i class="fas fa-heart"></i></button>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </section>
   <!-------------------------------------------------------------------------------------->
  
    
    <!--pagination-->
    {% if is_paginated %}
    <nav id="pagination" aria-label="Page navigation example" class="my-5">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/listing/?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for i in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="/listing/?page={{i}}">{{i}}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="/listing/?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <script>
        var inputLeft = document.getElementById("input-left");
        var inputRight = document.getElementById("input-right");

        var thumbLeft = document.querySelector(".slider > .thumb.left");
        var thumbRight = document.querySelector(".slider > .thumb.right");
        var range = document.querySelector(".slider > .range");

        var minPrice = document.querySelector(".min-price");
        var maxPrice = document.querySelector(".max-price");


        function setLeftValue() {
            var _this = inputLeft,
                min = parseInt(_this.min),
                max = parseInt(_this.max);

            _this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - 1);

            var percent = ((_this.value - min) / (max - min)) * 100;

            thumbLeft.style.left = percent + "%";
            range.style.left = percent + "%";
            minPrice.innerHTML = parseInt(percent);
        }
        setLeftValue();

        function setRightValue() {
            var _this = inputRight,
                min = parseInt(_this.min),
                max = parseInt(_this.max);

            _this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + 1);

            var percent = ((_this.value - min) / (max - min)) * 100;

            thumbRight.style.right = (100 - percent) + "%";
            range.style.right = (100 - percent) + "%";
            maxPrice.innerHTML = parseInt(percent);
        }
        setRightValue();

        inputLeft.addEventListener("input", setLeftValue);
        inputRight.addEventListener("input", setRightValue);

        inputLeft.addEventListener("mouseover", function () {
            thumbLeft.classList.add("hover");
        });
        inputLeft.addEventListener("mouseout", function () {
            thumbLeft.classList.remove("hover");
        });
        inputLeft.addEventListener("mousedown", function () {
            thumbLeft.classList.add("active");
        });
        inputLeft.addEventListener("mouseup", function () {
            thumbLeft.classList.remove("active");
        });

        inputRight.addEventListener("mouseover", function () {
            thumbRight.classList.add("hover");
        });
        inputRight.addEventListener("mouseout", function () {
            thumbRight.classList.remove("hover");
        });
        inputRight.addEventListener("mousedown", function () {
            thumbRight.classList.add("active");
        });
        inputRight.addEventListener("mouseup", function () {
            thumbRight.classList.remove("active");
        });


        const productItemName = document.querySelector('.product-item-name');
        const productNumber = document.querySelector('.product-number');
        const productImg = document.querySelectorAll('.product-img ');
        const productName = document.querySelectorAll('.p-name');
        const productPrice = document.querySelectorAll('.p-price');
        const searchBtn = document.getElementById('srch');
        const productList = document.getElementById('productList');
        const keyword = document.getElementById('keyword');
        const brand = document.querySelector('.brand-checkbox');
        const size = document.querySelector('.size-checkbox');

        const filterBtn = document.getElementById('filterBtn');
        const bottomLeft = document.querySelector('.bottom-left');
        const bottomRight = document.querySelector('.bottom-right');
        const refinedSearchesTitle = document.querySelector('.refined-searches')
        const Xbtn = document.querySelector('.XBtn');
        const topRight = document.querySelector('.top-right-left-boxes');

        //event listeners
        filterBtn.addEventListener('click',() => {
            bottomLeft.style.display = 'flex';
            bottomRight.style.display = 'none';
            Xbtn.style.display = 'block';
        });

        Xbtn.addEventListener('click',()=>{
            bottomLeft.style.display = 'none';
            bottomRight.style.display = 'flex';
          
           
        })

        //event listeners
        searchBtn.addEventListener('click', getProductList);


        //get product list that matches with the input keyword
        function getProductList() {
            let searchInputTxt = document.getElementById('inpt_srch').value.trim();
            fetch(`https://redopact.pythonanywhere.com/api/product-api/${searchInputTxt}`).then(response => response.json()).then(datas => {
                console.log(datas);
                let html = "";
                let pName = " ";
                let pStock = " ";
                let brandhtml = " ";
                let sizehtml = " ";
                if (datas) {
                    datas.forEach(data => {
                        html += `
                        <div class="product text-center" data-id="${data.name}">
                            <img class="img-fluid product-img " src="https://redopact.pythonanywhere.com/${data.image}">
                            <h5 class="p-name">${data.name}</h5>
                            <h4 class="p-price">&#8377 ${data.price}</h4>
                            <div class="buttons" style="display: flex;">
                                <button class="buy-btn"><i class="fas fa-shopping-cart"></i></button>
                                <button class="buy-btn"><i class="fas fa-heart"></i></button>
                             </div>
                        </div> `;

                        pStock += `${data.stock}`;

                        brandhtml += `
                            <span class="checkbox"><input type="checkbox" id="check"><label for="check"
                                    style="margin-left: 5px;">${data.brand}</label></span>`;

                        sizehtml += ` <span class="checkbox"><input type="checkbox" id="check"><label for="check">${data.size}</label></span>`;
                    })



                    pName += `"${searchInputTxt}"`;

                }
                else {
                    html = "Sorry, we didn't find any product!";
                    productList.classList.add('notFound');
                }
                size.innerHTML = sizehtml;
                productList.innerHTML = html;
                brand.innerHTML = brandhtml;
                productItemName.innerHTML = pName;
                productNumber.innerHTML = pStock;
                keyword.innerHTML = pName;
            });
        }


    </script>
<script>
    // for getting url after applying ordering
  function finalurl() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('ordering', document.getElementById("sort-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url
  }

  // for getting url after applying price filtering
  function finalurl2() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('price', document.getElementById("price-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url
  }

</script>

{% endblock %}