body {
    /*overflow: hidden;*/
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}


/* main container */

.cont {
    /* max-height: 100vh; */
    display: flex;
}


/* left section */

.banner {
    width: 38%;
    height: 100vh;
    background-color: #004953;
    padding-left: 8%;
    display: inline-block;
}

.banner-text {
    font-size: 300%;
    color: white;
}


/* mobile-view */

@media screen and (max-width:620px) {
    body {
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
        height: 100%;
        /* position: fixed; */
    }
    .banner {
        visibility: hidden;
        width: 0%;
        margin: 0;
        padding: 0;
    }
    .main {
        margin: 0;
        padding: 0;
        width: 620px;
    }
    .main-content {
        margin: 0 0;
        width: 100%;
    }
    .form {
        padding: 0;
        margin: 0;
    }
}


/* right section */

.main {
    display: grid;
    place-items: center;
}

@media screen and (min-width: 620px) {
    .main {
        width: 62%;
    }
    .main-content {
        width: 90%;
    }
}


/* inner grid */

.main-content {
    margin-left: 3%;
    margin-right: 3%;
    /* width: 90%; */
    background-color: #FCE7E7;
    z-index: 1;
    /* box-shadow: 2px black; */
}

.form {
    padding: 0 8%;
}


/* upper line */

hr {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

hr.colored {
    border: 0;
    /* in order to override TWBS stylesheet */
    height: 2.5px;
    background: -webkit-linear-gradient(left, rgba(119, 119, 119, 1) 60%, rgba(0, 73, 83, 1) 40%);
}

hr::before {
    width: 10%;
    content: '';
    height: 0px;
    z-index: 1;
    background: red;
}


/* email address */

.sign {
    font-weight: 200;
    text-align: center;
    font-size: 200%;
    word-spacing: 20px;
}

.login {
    color: #004953;
    font-size: 90%;
    font-weight: 100;
}


/* signup and login */

.bar {
    font-weight: 500;
    font-size: 150%;
}

.form {
    padding-top: 7%;
}


/* input where email and password will be typed */

.input {
    width: 45%;
    height: 45px;
    border-color: black;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #C2BDBD;
}

.forgot-pass {
    color: #1E83F9;
    padding-bottom: 8%;
}


/* login button */

button {
    width: 95%;
    height: 45px;
    background-color: #15707C;
    border-radius: 5px;
    border: 0px;
}

.login-but {
    font-weight: 400;
    font-size: 170%;
    color: white;
}


/* text below login button */

.bot-text {
    text-align: center;
    color: #696969;
}

.sign-up {
    color: #004953;
}


/* icons */

.google {
    background-color: white;
    padding: 1%;
    border-color: blue;
    border: 1px;
    margin-left: 33%;
    margin-right: 2%;
}

.facebook {
    background-color: white;
    padding: 1%;
    border-color: blue;
    border: 1px;
    margin-right: 2%;
}

.linkedin {
    background-color: white;
    padding: 1%;
    border-color: blue;
    border: 1px;
}

.icons {
    margin-bottom: 4%;
}